.parent {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.root {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  display: inline-block;
  width: 4ch;
  height: calc(16px * var(--theme-line-height-base) * 2);
  vertical-align: bottom;
  flex-shrink: 0;
}

.right {
  min-width: 10%;
  width: 100%;
  background: var(--theme-foreground);
}